/* index sida & info*/
body {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #93D9F6;
  font-family: Verdana;
}

#gameDiv {
  margin-left: 210px;
  float: left;
}

#buttons {
  margin-left: 730px;
  float: left;
  position: fixed;
  margin-top: -17px;
}

#angrybird, #cat, #penguin, #bg_city, #bg_desert, #bg_space, #fast_mode, #slow_mode, #reset_speed, #paus, #fire_within, #odyssey, #caprisun {
  -moz-box-shadow: inset 0 1px 0 0 #fff;
  -webkit-box-shadow: inset 0 1px 0 0 #fff;
  box-shadow: inset 0 1px 0 0 #fff;
  background-color: #ededed;
  border-radius: 4px;
  border: 1px solid #e0e0e0;
  color: #777;
  font-family: Arial;
  font-size: 12px;
  font-weight: 700;
  padding: 6px 15px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
}

#angrybird:hover, #cat:hover, #penguin:hover, #bg_city:hover, #bg_desert:hover, #bg_space:hover, #fast_mode:hover, #slow_mode:hover, #reset_speed:hover, #paus:hover, #fire_within:hover, #odyssey:hover, #caprisun:hover {
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0.05,#dfdfdf),color- stop(1,#ededed));
  background-color: #dfdfdf;
}

p {
  font-size: 16px;
  font-family: Arial;
  font-weight: 700;
  color: #4a4a4a;
}

#music_buttons {
  float: left;
  margin-top: 6px;
  margin-left: 210px;
  margin-bottom: 20px;
}

.clearfix {
  clear: both;
}

#result {
  margin-top: 20px;
  font-family: Arial;
  color: #4a4a4a;
  font-size: 16px;
  font-weight: 700;
  overflow: auto;
}